<div layout="column" layout-margin>
  <h1>Hello from polymer-test</h1>
  <!-- <rs-dropdown items="{{ $ctrl.items }}" value-field="value" label-field="label"></rs-dropdown> -->
  <rs-dropdown value-field="value" label-field="label"></rs-dropdown>
  <div>
    <label>Label: <input type="text" ng-model="itemLabel"></label>
    <label>Value: <input type="text" ng-model="itemValue"></label>
    <button ng-click="$ctrl.addItem(itemLabel, itemValue)" class="btn">Add</button>
  </div>
</div>
