.app-content {
  padding: 20px;
}

.red {
  --header-gradient-start: #BA0000;
  --header-gradient-end: #880000;
  --header-border-color: #420000;
  --sidebar-background: #2D0000;
}

.green {
  --header-gradient-start: #00BA00;
  --header-gradient-end: #008800;
  --header-border-color: #004200;
  --sidebar-background: #002D00;
}

.crazy {
  --header-gradient-start: yellow;
  --header-gradient-end: pink;
  --header-border-color: cyan;
  --sidebar-background: magenta;
  --sidebar-color: gold;
}
