<rs-layout [ngClass]="selectedItem.value">
  <div slot="header">
    Polymer + Angular 4
  </div>
  <div class="app-content">
    <p>
      The layout of this page is implemented with a Polymer component, as well as the drop-down below.
    </p>
    <p>
      When selecting a value in the drop-down, Angular sets a custom class on the layout to override
      its default styles using custom properties.
    </p>
    <rs-dropdown [items]="items" (change)="changed($event)" [selectedItem]="selectedItem" value-field="value" label-field="label"></rs-dropdown>
  </div>
</rs-layout>
