<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="design-kit/drop-down.html">
<link rel="import" href="design-kit/button.html">

<dom-module id="rs-dropdown">
  <template>
    <style include="dk-dropdown"></style>
    <style include="dk-button"></style>

    <div class$="dropdown {{ openClass }}">
      <button class="btn btn-default dropdown-toggle" type="button" on-click="toggle">
        {{ buttonLabel }}
      </button>
      <div class="dropdown-menu">
        <template is="dom-repeat" items="{{ items }}">
          <a class="dropdown-item" href="#" on-click="select">{{ getLabel(item) }}</a>
        </template>
      </div>
    </div>
  </template>

  <script>
    class RsDropdown extends Polymer.Element {
      static get is() { return 'rs-dropdown'; }
      static get properties() {
        return {
          items: Array,
          labelField: String,
          selectedItem: Object,
          openClass: {
            type: String,
            computed: 'computeOpenClass(open)'
          },
          /**
           * Label for the button
           */
          buttonLabel: {
            type: String,
            computed: 'computeButtonLabel(selectedItem)'
          }
        }
      }

      constructor() {
        super();
        this.open = false;
        this.selectedItem = null;
        this.toggleHandler = event => this.toggle(event);
      }

      // Computed property: openClass
      computeOpenClass(open) {
        return open ? 'open' : '';
      }

      // Computed property: button label
      computeButtonLabel() {
        return (this.selectedItem && this.selectedItem[this.labelField]) || 'Select Something';
      }

      // Returns the item property value that should be used as a label in the drop-down
      getLabel(item) {
        return item[this.labelField];
      }

      // Shows or hides the drop-down
      toggle(event) {
        event.stopPropagation();
        event.preventDefault();
        this.open = !this.open;

        if (this.open) {
          // This will allow closing the drop-down when clicking anywhere
          document.addEventListener('click', this.toggleHandler);
        }
        else {
          document.removeEventListener('click', this.toggleHandler);
        }
      }

      select(event) {
        this.selectedItem = event.model.item;
        this.dispatchEvent(new CustomEvent('change', { detail: { value: event.model.item }}));
      }
    }

    window.customElements.define(RsDropdown.is, RsDropdown);
  </script>
</dom-module>