<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="images/main-logo.html">

<dom-module id="rs-layout">
  <template>
    <style>
       :host {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .header {
        min-height: 46px;
        color: #fff;
        background: linear-gradient(var(--header-gradient-start, #076CCA), var(--header-gradient-end, #065BAC));
        border: 1px solid var(--header-border-color, #054685);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2), inset 0 -2px 0 rgba(0, 0, 0, .08);
        display: flex;
        align-items: center;
        padding: 0 20px;
      }

      .header>slot {
        flex: 1 1 100%;
      }

      .body {
        flex: 1 1 100%;
        display: flex;
      }

      rs-logo {
        margin-right: 5px;
      }

      .sidebar {
        position: relative;
        width: 215px;
        min-width: 215px;
        overflow-x: hidden;
        overflow-y: auto;
        color: var(--sidebar-color, #fff);
        background: var(--sidebar-background, #353B41);
      }

      .sidebar:after {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 100%;
        content: " ";
        background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .3));
      }
    </style>

    <div class="header">
      <rs-logo></rs-logo>
      <slot name="header">
      </slot>
    </div>

    <div class="body">
      <div class="sidebar"></div>
      <div class="main">
        <slot></slot>
      </div>
    </div>
  </template>

  <script>
    class RsLayout extends Polymer.Element {
      static get is() { return 'rs-layout'; }

      constructor() {
        super();
        // this.logo = require('./images/main-logo.svg');
      }
    }

    window.customElements.define(RsLayout.is, RsLayout);
  </script>
</dom-module>